<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<title>Vite + Vue</title>

</head>

<body>
  <div id="app">


    <!--<div class="container mt-5">
      <h1 v-text="respuesta"></h1>
      <input v-model.number="numero1" class="form-control form-control-lg mt-3" type="number" placeholder=".numero 1"aria-label=".form-control-lg example">
      <input v-model.number="numero2" class="form-control form-control-lg mt-3" type="number" placeholder=".numero 2"aria-label=".form-control-lg example">

      <button type="button" @click="sumar" class="btn btn-primary mt-2" v-text="nameButton"></button>
      <button type="button" @click="restar" class="btn btn-primary mt-2">restar</button>

      <button class="btn btn-primary mt-2" v-for="item in arrayFrutas">
        {{item}}
      </button>-->


    <div class="container">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Perfil</th>
            <th scope="col">Hobby</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in info">
            <td>
              <img :src="item.img" class="img-thumbnail" alt="..." width="60px">
            </td>
            <td v-text="item.nombre"></td>
            <td v-text="item.perfil"></td>
            <td>
              <span class="badge text-bg-primary mt-2" v-for="item in item.hobby">{{item}}</span>
            </td>
            <td>
              <button class="btn btn-danger">Eliminar</button>
            </td>



          </tr>
        </tbody>
      </table>

    </div>

    <button class="btn bg-black" @click="getDataCoktail">Cargar datos</button>

    </div>




  <!--<div class="row">
      <div v-for="item in info" class="card mt -3 col-lg-2" style="width: 10rem;">
        <img :src="item.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" v-text="item.nombre"></h5>
          <p class="card-text" v-text="item.perfil"></p>
          <span class="badge text-bg-primary mt-2" v-for="item in item.hobby">{{item}}</span>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>-->

  <!--<ul>
      <li v-for="item in info">{{item}}</li>
    </ul>-->

  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="src/main.js"></script>

</html>